
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0px;
}

header,main{
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    
}

header{
    margin-bottom: auto;
    text-align: center;
    background-color: #98c5f1;
}

nav ul{
    list-style: none;
    padding: 10;
}

nav li{
    display: inline;
    margin: 0 10px;
}

nav a{
    color: rgb(7, 6, 6);
    text-decoration: none;   
}

nav a:hover{
    color: rgb(233, 228, 228);
    text-decoration: none;
}

hr{
    margin: 20px ;
}
#hr1{
    margin: 20px;
    max-width: 1000px;
    padding: 0 20px;
}

h1{
    color: #060707;
    
}

h2{
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 20px;
}

h3{
    color: #06c;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #003366;
    color: rgb(245, 243, 243);
}

blockquote {
    background-color: #e6f0fa;
    padding: 15px;
    border-left: 5px solid #003366;
    margin: 20px 0;
}


form {
    background-color: white;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botones */
button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #004999;
}

button[type="reset"] {
    background-color: #999;
}

button[type="reset"]:hover {
    background-color: #666;
}

footer{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
